VITE_API_BASE_URL=https://naijalex.onrender.com
VITE_WHATSAPP_SANDBOX_NUMBER=+14155238886
VITE_WHATSAPP_SANDBOX_JOIN_CODE=join various-mill
VITE_WHATSAPP_SANDBOX_QR_URL=
VITE_WHATSAPP_SANDBOX_DEEPLINK=
